{% extends 'admin/base.html.twig' %}

{% block body %}

<h1 class="page-header">
	Blank Page
	<small>Subheading</small>
</h1>
<ol class="breadcrumb">
	<li>
		<i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
	</li>
	<li class="active">
		<i class="fa fa-file"></i> Blank Page
	</li>
</ol>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}